.feedback-form {
    display: flex;
    flex-direction: column;
    max-width:  360px;
    background-color: #fff;
    border-radius: 4px;
   margin: 0 auto;
  }
  
  .feedback-form label {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  
  .feedback-form button {
    font: inherit;
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 16px;
    width: 95px;
    height: 40px;
    background: #4e75ff;
  }
  
  input,
  textarea {
    padding: 8px;
    font: inherit;
  }
  
  textarea {
    resize: none;
  }